<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="Listings">
  <!-- specify page description -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- This tag helps building responsive layouts: optimising for different screen sizes. -->
</head>

<p id="notice"><%= notice %></p>
<%# this creates a card listing page with Bootstrap-SCSS %>
<div class="col-md-6">
    <h1>Listing Products</h1>
</div>
<div class="row">
    <% @listings.each do |listing| %>
        <div class="col-md-4">
            <div class="card" style="width: 35rem;">
            <%# It shows attached image in the listing page. If users haven't uploaded an image, they will get a default image for their product %>
            <% if listing.picture.attached? %>
                 <%= image_tag listing.picture, class:"card-img-top"%>
            <% else %> 
                 <%= image_tag "baby2.jpg", class: "card-img-top" %> 
            <% end %>  
            <%# create links for show more, edit, and delete %>
            <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text">$<%= listing.price%> 
                <%= link_to "Show More", listing_path(listing.id), class:"btn btn-primary btn-right" %>
                </p>
                <% if current_user && current_user.id == listing.user_id %>
                <p><%= link_to 'Edit', edit_listing_path(listing) %> | <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                <% end %>
            </div>
            </div>
        </div>
    <% end %>
</div>
<br>
</html>