<p id="notice"><%= notice %></p>
<div class="col-md-6">
<%# It shows attached image in the item show page. If users haven't uploaded an image, they will get a default image for their listing product %>
<div>
  <% if @listing.picture.attached? %>
     <%= image_tag @listing.picture, alt: @listing.title, class: "image" %>
  <% else %> 
     <%= image_tag "baby2.jpg", alt: @listing.title, class: "image" %> 
  <% end %>  
</div>  

<%# This if statment helps users to identify which listing item has been sold, or is listed by themselves, or is still available to buy %>
<% if @listing.sold %>
    <h1>SOLD</h1> 
<% elsif current_user && current_user.id == @listing.user_id %> 
    <h1>Can't purchase your own item</h1>
<% elsif current_user %> 
     <button data-stripe="payment"> Buy Now <%= number_to_currency(@listing.price) %> </button>  
  
<% else %> 
    <h1>Please log in to make a purchase</h1> 
<% end %> 

<%# take users back to the listing page %>
<%= link_to 'Back', listings_path, class: 'button' %>
  <%# javascript for Stripe  %>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script> 

<%# listing content that users can read from the item show page %>
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>
     
<p>
  <strong>Price: $</strong>
  <%= @listing.price %>
</p>
<%# add edit link %>
<% if current_user && current_user.id == @listing.user_id %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "link-listing" %> 
<% end %> 
<%# users can go previous and next page with the links%>

<%# <div>
  <% if defined?(@prev_link) %>
    <%# <%= link_to "Previous", @prev_link, class: "link-listing" %>
  <%# <% end %> 
  <%# <% if defined?(@next_link) %> 
    <%# <%= link_to "Next", @next_link, class: "link-listing" %> 
  <%# <% end %> 
<%# </div>  %>

<div>
  <% if @listing[:id] > 1 && @listing[:id] < 100 %>
    <%= link_to "Previous", listing_path(@listing[:id] - 1), class: "link-listing" %> |
    <%= link_to "Next", listing_path(@listing[:id] + 1), class: "link-listing" %>
  <% elsif @listing[:id] <= 1 %>
    <%= link_to "Next", listing_path(@listing[:id] + 1), class: "link-listing" %>
  <% elsif @listing[:id] >= 100 %>
    <%= link_to "Previous", listing_path(@listing[:id] - 1), class: "link-listing" %>
  <% end %> 
</div>