<p id="notice"><%= notice %></p>
<div class="col-md-6">
<div>
  <% if @listing.picture.attached? %>
     <%= image_tag @listing.picture, alt: @listing.title, class: "image" %>
  <% else %> 
     <%= image_tag "baby2.jpeg", alt: @listing.title, class: "image" %> 
  <% end %>  
</div>  

<% if @listing.sold %>
    <h1>SOLD</h1> 
<% elsif current_user && current_user.id == @listing.user_id %> 
    <h1>Can't purchase your own item</h1>
<% elsif current_user %> 
    <button data-stripe="payment"> Buy Now! <%= number_to_currency(@listing.price) %></button> 
<% else %> 
    <h1>Please log in to make a purchase</h1> 
<% end %> 

<%= link_to 'Back', listings_path, class: 'button' %>
  
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script> 


<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>
     
<p>
  <strong>Price: $</strong>
  <%= @listing.price %>
</p>

<% if current_user && current_user.id == @listing.user_id %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: "link-listing" %> 
<% end %> 

<div>
  <% if @listing[:id] > 1 && @listing[:id] < 10 %>
    <%= link_to "Previous", listing_path(@listing[:id] - 1), class: "link-listing" %> |
    <%= link_to "Next", listing_path(@listing[:id] + 1), class: "link-listing" %>
  <% elsif @listing[:id] <= 1 %>
    <%= link_to "Next", listing_path(@listing[:id] + 1), class: "link-listing" %>
  <% elsif @listing[:id] >= 10 %>
    <%= link_to "Previous", listing_path(@listing[:id] - 1), class: "link-listing" %>
  <% end %>
</div>
</div>